body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 243);
  font-family: Arial, Helvetica, sans-serif;
  
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

.header-box {
  display: flex;
  flex-direction: column;
  background-color: rgb(38, 38, 97);
  color: aliceblue;
  width: 950px;
  justify-content: center;
  gap: 24px;
}

.header-top {
  display: flex;
  size: 200px;
  margin-top: 16px; 
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.header-logo {
  font-size: large;
  font-weight: 700;
  width: 330px;
  color: rgb(181, 181, 181);
  
}

.header-links {
  font-size: 14px;
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 12px;
  color: rgb(181, 181, 181);
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin: 16px;
  margin-bottom: 64px;
  flex-wrap: wrap;
  
}

.header-text {
  font-size: 16px;
  font-weight: 400;
  width: 400px;
}

.header-image { 

}

.sign-up-button {
  border-radius: 10px;
  size: 16px;
  width: 120px;
  padding: 12px;
  background-color: rgb(77, 77, 235);
  color: aliceblue;
  border: solid white 1px;
}

.sign-up-button:hover {
  background-color: rgb(77, 159, 235);
  transition: 0.7s;
}

.sign-up-button:active {
  background-color: aquamarine;
}

.info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 48px;
}

.info-header {
  margin: 16px;
  margin-bottom: 24px;
}

.image-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}

.img-and-description {
  display: flex;
  flex-direction: column;
  width: 175px;
}

.rounded-img {
  border-radius: 15px;
  border: solid rgb(158, 158, 158) 1px;
}

.description {
  color: gray;
}  

.quote-box {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 950px;
  background-color: rgb(165, 165, 165);
  margin: 16px;
  height: 300px;
}

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin: 16px;
  /* margin-bottom: 64px; */
  width: 500px;
}

.quote-text {
  color: rgb(44, 44, 44);
  font-size: larger;
}

.attribution {
  padding-left: 160px;
  margin-top: -36px;
}

h3 {
  font-size: large;
}

.call-to-action-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(127, 153, 255);
  margin: 48px;
  padding: 16px 72px 16px 72px;
  gap: 36px;
  height: 100px;
  width: 500px;
}

.action-header {
  font-size: larger;
  font-weight: 700;
}

.action-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: aliceblue;
  gap: 8px;
  max-width: 350px;
}